
.fx {
	&-box {
		display   : flex;
		margin    : 0;
		padding   : 0;
		width     : 100%;
		outline   : 1px solid darkred;
		flex-wrap : wrap;
		flex-grow : 1;

		* {
			box-sizing : border-box;
		}

	}

	&-cell {
		overflow    : hidden;
		padding     : rem(2px) rem(5px);
		outline     : 1px solid greenyellow;
		list-style  : none;
		flex-grow   : 1;
		flex-shrink : 0;
		width       : 100%;
	}


	&_img {
		//width           : 20%;
		justify-content : center;
		align-items     : center;
	}

	&_descr {
		//width : 40%;
	}

	&_fin { }

	&_acrt { }
}
