//================== FORMs  =========================
$form-box : (
		form:(
				bgc: #fff,
				b-r: rem(4px),
				color: lighten($panel-bgc, 20%),
				max-width:rem(320px)
		),
		field:(
				width:  rem(270px),
				height: rem(50px),
				bgc: #fff,
				bc: lighten($panel-bgc, 50%),
				bc-a: $colorBtnTextHover,
				b-r: rem(0px),
				color: darken($panel-bgc, 20%),
				label:(
						color:darken($panel-bgc, 20%)
				),
				status:(
						req: $colorInfo,
						info:$colorPrimary,
						ok:  $colorSucces,
						err: $colorError
				)
		),
		submit: (
				width: rem(270px),
				height: rem(50px),
				bgc: $colorBtnBg,
				bc: darken($colorBtnBg, 30%),
				bc-a: $colorBtnTextHover,
				b-r: rem(5px),
				color: $colorBtnText,
				tx-a: $colorBtnTextHover,
		),
		footer:(
				bgc: lighten($panel-bgc, 60%)
		)
);

@import "forms_core";
@import "forms_bag";