/*================== PANEL Btns =========================*/
.#{$moduleCssPrefix}nav-panel {
	.btn {
		@include btn;
		color : $colorBtnText;

		&_active,
		&:hover {
			color : $colorBtnTextHover;
		}

		&_panel {
			width  : 100%;
			height : 100%;
		}

		&_phone {
			&:hover .btn__icon {
				animation : phone-ring 1s linear infinite;
			}
		}

		&_live-chat {
			&:hover .btn__icon {
				animation : bounceIn 1s linear infinite;
			}
		}

		&_mail {
			&:hover .btn__icon {
				animation : rubberBand 1s linear infinite;
			}
		}

		&_history {
			&:hover .btn__icon {
				animation : spin 1s linear infinite;
			}
		}

		&_heart {
			&:hover .btn__icon {
				animation : heart-bit 1s linear infinite;
			}
		}

		&_shopping-bag {
			&:hover .btn__icon {
				transform-origin : top center;
				animation        : swing 1s linear infinite;
			}
		}
	}
}
